@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@*@{ Commented because we are using api to get the movies
            if (!Model.Any())
            {
                <p>We don't have any movies yet.</p>
            }
        }

    else{

    }*@
@Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
<table id="movies" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Movie</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr class="table-light">

                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>

        }

    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            $("#movies ").DataTable();
        });
    </script>
}

