<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com" />
  <add key="FaceBookAppId" value="980203148852781" />
  <add key="FaceBookAppSecret" value="11bcf8eb8833980b0c12673bf65c3498" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>